@font-face {
    font-family: "Harvest-Barn";
    src: url("assets/fonts/harvest-barn.ttf") format("truetype");
}

@font-face {
    font-family: "Hughs";
    src: url("assets/fonts/hughs.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans|Source+Sans+Pro');

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #222;
    font-family: Verdana, Calibri, Arial;
    font-size: 14px;
    line-height: 1.5;
    min-width: 480px;
}

* {
    box-sizing: border-box;
}

header, footer, article {
    padding: 15px 20px;
}

header {
    background-color: #eee;
    font-family: 'Open Sans', sans-serif;
    h1 {
        text-transform: uppercase;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(69, 80, 118, 1);
    font-family: 'Open Sans', sans-serif;
}

hr {
    opacity: 0.3;
}

.pull-right {
    float: right;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.center-aligned {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-header {
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    & > li {
        display: inline-block;
        width: 50%;
        margin-bottom: 4px;
        &:nth-child(odd) {
            padding-right: 10px;
        }
        &:nth-child(even) {
            padding-left: 10px;
        }
    }
}

.label- {
    &title {
        vertical-align: middle;
        display: inline-block;
        width: 55%;
    }
    &content {
        vertical-align: middle;
        display: inline-block;
        width: 45%;
    }
}

.label-icon {
    margin-right: 10px;
}

article {
    .sub-header {
        color: rgba(73, 125, 178, 1);
    }
    .label-header {
        margin-bottom: 0px;
    }
}

